{% extends 'CleverAgeEAVManagerLayoutBundle::layout.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block tg_left %}
    <h3>Mes informations</h3>
    <ul class="nav nav-pills nav-stacked">
        {{ utilities.menu_icon_link('user', 'Mon Profil', 'eavmanager_user.profile.edit') }}
    </ul>
{% endblock %}
