{% extends 'CleverAgeEAVManagerAdminBundle:Base:list.html.twig' %}

{% block tg_center %}
    {% use '@CleverAgeEAVManagerAdmin/EAVData/partials/list.blocks.html.twig' %}
    {% if isModal %}
        {{ block('list_modal') }}
    {% else %}
        <h3>{{ block('list_title') }}</h3>
        <hr>
        {{ block('datagrid') }}
    {% endif %}
{% endblock %}
