{# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
{# @var pager \Pagerfanta\Pagerfanta #}
{# @var action \Sidus\AdminBundle\Admin\Action #}
{% set pager = datagrid.queryHandler.pager %}

{% block datagrid_table %}
    {{ block('datagrid_table', '@CleverAgeEAVManagerAdmin/DataGrid/template.html.twig') }}
{% endblock %}

{% block datagrid_actions %}
    <div class="datagrid-actions">
        {% if pager.nbPages > 1 %}
            <div class="pull-right">
                {% if route_parameters is defined %}
                    {{ pagerfanta(pager, 'twitter_bootstrap3', {
                        routeName: action.routeName,
                        routeParams: route_parameters
                    }) }}
                {% else %}
                    {{ pagerfanta(pager, 'twitter_bootstrap3') }}
                {% endif %}
            </div>
        {% endif %}
        <div class="btn-group">
            {% for action in datagrid.formView.actions %}
                {{ form_widget(action, {parent_data: parent_data, parent_attribute: parent_attribute}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
