{# @var datagrid \Sidus\DataGridBundle\Model\DataGrid #}
{# @var viewParameters array #}
{% extends '@SidusDataGrid/DataGrid/template.html.twig' %}

{% block filters %}
    <div class="actions-sticky">
        <div class="actions-flex">
            <div class="breadcrumb-wrapper">
                <h4>
                    {{ viewParameters.title is defined ? viewParameters.title : 'List' }}
                </h4>
            </div>
            <div class="actions-wrapper">
                <div>
                    <div class="btn-group pull-right">
                        {% block sticky_filters_actions %}
                            {% if datagrid.formView.filterResetButton is defined %}
                                {{ form_widget(datagrid.formView.filterResetButton) }}
                            {% endif %}
                            {% if datagrid.formView.filterSubmitButton is defined %}
                                {{ form_widget(datagrid.formView.filterSubmitButton) }}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block filters_actions %}{% endblock %}
