{% extends 'CleverAgeEAVManagerAdminBundle:Base:delete.html.twig' %}

{% block submit_button %}
    <button type="submit" class="btn btn-warning">
        {{ tryTrans([admin_trans_key ~ '.label', 'admin.action.' ~ admin.currentAction.code ~ '.label'], [], admin.currentAction.code|capitalize) }}
    </button>
{% endblock %}
