# one uploader
oneup_uploader:
    mappings:
        image:
            frontend: blueimp
            allowed_mimetypes: [ image/jpg, image/jpeg, image/png, image/gif ]
            storage:
                type: flysystem
                filesystem: oneup_flysystem.images_filesystem
            max_size: 64000000
        document:
            frontend: blueimp
            storage:
                type: flysystem
                filesystem: oneup_flysystem.documents_filesystem
            max_size: 64000000

oneup_flysystem:
    adapters:
        resources:
            local:
                directory: '%kernel.root_dir%/../var/data/resources'
    filesystems:
        images:
            adapter: resources
        documents:
            adapter: resources

sidus_file_upload:
    configurations:
        image: # must match oneup_uploader mapping key
            entity: CleverAge\EAVManager\AssetBundle\Entity\Image
            filesystem: images
        document:
            entity: CleverAge\EAVManager\AssetBundle\Entity\Document
            filesystem: documents
