{% extends 'CleverAgeEAVManagerAdminBundle:Base:edit.html.twig' %}

{% block tg_center %}
    <div class="edit-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ block('form_actions') }}
        {{ form_end(form) }}
    </div>
{% endblock %}
