{% extends '@CleverAgeEAVManagerUser/Email/base.html.twig' %}

{# @var user \CleverAge\EAVManager\UserBundle\Entity\User #}
{% block content %}
    {% set resetPath = url('reset_password', {token: user.authenticationToken}) %}
    <p>
        Greetings {{ user }},
    </p>
    <p>
        Your account has been created, please click on the following link to create your password:
    </p>
    <p>
        <a href="{{ resetPath }}">{{ resetPath }}</a>
    </p>
{% endblock %}
