<div class="alert alert-danger browser-update">
    <h4>Votre navigateur n'est pas à jour</h4>
    <p>Cette application n'est pas compatible avec votre navigateur actuel. Veuillez utiliser l'un de ces navigateurs
        pour une utilisation optimisée de notre solution.</p>
    <table class="logos">
        <tbody>
        <tr>
            <td>
                <a href="http://www.mozilla.com/firefox/" target="_blank">
                    <img src="{{ asset('bundles/cleverageeavmanageruser/img/ff.png') }}" alt="" width="64" height="64">
                    <span class="bro">Firefox</span>
                    <span class="vendor">Mozilla Foundation</span>
                </a>
            </td>
            <td>
                <a href="http://www.google.com/chrome?hl=fr" target="_blank">
                    <img src="{{ asset('bundles/cleverageeavmanageruser/img/ch.png') }}" alt="" width="64" height="64">
                    <span class="bro">Chrome</span>
                    <span class="vendor">Google</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="clear"></div>
