{% spaceless %}
    <div class="btn-group btn-group-xs btn-group-nowrap">
        {% block list_row_actions %}
            {% set link_title = tryTrans([
            'admin.'~viewParameters.admin.code~'.delete.label',
            'admin.action.delete.label',
            ], [], 'Delete') %}
            <a href="{{ admin_entity_path(viewParameters.admin, result, 'delete') }}"
               class="btn btn-danger" data-target-element="#tg_right" title="{{ link_title }}">
                <i class="fa fa-remove"></i>
            </a>
        {% endblock %}
    </div>
{% endspaceless %}
