{% set admin = viewParameters.admin %}
<a href="{{ admin_entity_path(admin, result, 'edit') }}" data-target-element="#tg_right"
   title="{{ ('admin.' ~ admin.code ~ '.edit.title') | trans }}">
    {{ render_object_value(result, column) }}
</a>
