#main_content {
  display: flex;
  position: relative;
}

#tg_right, #tg_left, #tg_center {
  padding: $padding-base-horizontal;
  vertical-align: top;
  position: relative;
  min-height: 100vh;
  @include transition(width 0.5s); // @todo not working why ?
  &:empty {
    display: none;
  }
}

#tg_left {
  border-right: 1px solid $table-border-color;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

#tg_right {
  border-left: 1px solid $table-border-color;
  min-width: 50%;
  background-color: $body-bg;
  max-width: 50%;
}

#tg_center {
  width: 100%;
}

.tg-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7) image-url("ajax-loader.gif") no-repeat center center;
}

.modal .tg-loading {
  background: rgba(100, 100, 100, 0.5) image-url("ajax-loader.gif") no-repeat center center;
}

.tg-right-expanded {
  #tg_center {
    table.table {
      th, td {
        display: none;
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:last-child {
          display: table-cell;
        }
      }
    }
  }
}
