.btn-group-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

.hr-sm {
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;
}
