.sidebar {
  .nav, .admin-nav h5 {
    margin-left: -$padding-base-horizontal;
    margin-right: -$padding-base-horizontal;
  }
  .admin-nav {
    h5 {
      padding: $padding-base-horizontal $padding-base-vertical;
      margin-top: 0;
      margin-bottom: 0;
      border-top: 1px solid darken($body-bg, 5%);
    }
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

// Inverted navbar
.sidebar-inverse {
  a {
    color: $navbar-inverse-link-color;
  }
  .active {
    a:hover {
      color: white;
    }
  }
  color: lighten($navbar-inverse-color, 20%);
  background-color: $navbar-inverse-bg;
  .nav {
    a {
      border-radius: 0;
      &:hover {
        color: $text-color;
        text-shadow: none !important;
      }
    }
    & > .open > a,
    & > .active > a {
      @include gradient-vertical($start-color: $navbar-inverse-link-active-bg, $end-color: lighten($navbar-inverse-link-active-bg, 2.5%));
      @include box-shadow(inset 0 3px 9px rgba(0, 0, 0, .25));
    }
    & > li > a {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    }
    & .nav {
      margin: 0;
      padding-left: $padding-base-horizontal;
    }
  }
  .admin-nav {
    h5 {
      border-top: 1px solid darken($navbar-inverse-bg, 5%);
    }
  }
}

.btn-group-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

.hr-sm {
  margin-top: $padding-small-vertical;
  margin-bottom: $padding-small-vertical;
}
