{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% if block('title') is defined %}
    {% set title = block('title') %}
{% else %}
    {% set title = block('title', 'CleverAgeEAVManagerLayoutBundle::layout.html.twig') %}
{% endif %}
<h2 class="hidden ajax-title">{{ title }}</h2>

{% block tg_left %}{% endblock %}
{% block flash_messages %}
    {% set flashMessages = utilities.flash_messages()|trim %}
    {% if flashMessages %}
        <div class="actions-sticky">
            {{ flashMessages|raw }}
        </div>
    {% endif %}
{% endblock %}
{% block tg_center %}{% endblock %}
{% block tg_right %}{% endblock %}

{% block additionnal_javascript %}{% endblock %}
