{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig'
: baseTemplate|default('CleverAgeEAVManagerLayoutBundle::layout.html.twig') %}

{% import "SidusDataGridBundle:DataGrid:datagrid.html.twig" as DataGridHelper %}

{% set admin_trans_key = 'admin.' ~ admin.code ~ '.' ~ admin.currentAction.code ~ '.' %}

{% block tg_center %}
    <h3>{{ tryTrans([admin_trans_key ~ '.title', 'admin.list_of'], {'%family%': admin.code|humanize}) }}</h3>
    <hr>
    {% block datagrid %}
        {{ DataGridHelper.render(datagrid) }}
    {% endblock %}
{% endblock %}
