{% set baseTemplate = baseTemplate|default(admin.baseTemplate) %}
{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig'
: baseTemplate|default('CleverAgeEAVManagerLayoutBundle::layout.html.twig') %}

{% import "SidusDataGridBundle:DataGrid:datagrid.html.twig" as DataGridHelper %}

{% set admin_trans_key = 'admin.' ~ admin.code ~ '.' ~ admin.currentAction.code ~ '.' %}

{% use '@CleverAgeEAVManagerAdmin/Base/partials/list.blocks.html.twig' %}

{% block tg_center %}
    {% if isModal %}
        {{ block('list_modal') }}
    {% else %}
        <h3>{{ block('list_title') }}</h3>
        <hr>
        {{ block('datagrid') }}
    {% endif %}
{% endblock %}
