{% block subject %}{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{{ block('subject') }}</title>
    </head>
    <body text="#707070" alink="#7BBC28" vlink="#7BBC28" link="#7BBC28">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="550">
        <tr>
            <td align="left" valign="top">
                <table border="0" cellpadding="0" cellspacing="0">
                    {% include '@CleverAgeEAVManagerUser/Mail/mail.header.html.twig' %}
                    <tr>
                        <td align="center" valign="top">
                            <!-- BEGIN BODY // -->
                            {% block body_html_content %}
                            {% endblock body_html_content %}
                            <!-- // END BODY -->
                        </td>
                    </tr>
                    {% include '@CleverAgeEAVManagerUser/Mail/mail.footer.html.twig' %}
                </table>
                <!-- // END TEMPLATE -->
            </td>
        </tr>
    </table>
    </body>
    </html>
{% endblock %}
