{% extends 'CleverAgeEAVManagerLayoutBundle::layout.html.twig' %}

{% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}

{% block tg_left %}
    <h3>{{ ('admin.' ~ admin.code ~ '.menu.title')|trans }}</h3>
    {{ utilities.family_menu(admin, admin.option('families', [])|keys, family is defined ? family) }}
{% endblock %}
