{% spaceless %}
    {% import "CleverAgeEAVManagerLayoutBundle:Macros:utilities.html.twig" as utilities %}
    <div class="btn-group btn-group-xs btn-group-nowrap">
        {% block list_row_actions %}
            {{ utilities.eav_action_button(admin, result, 'edit', {
                class: 'btn btn-primary',
            }) }}
            {{ utilities.eav_action_button(admin, result, 'delete', {
                class: 'btn btn-danger',
                icon: 'remove',
            }) }}
        {% endblock %}
    </div>
{% endspaceless %}
