{% extends isAjax ? 'CleverAgeEAVManagerLayoutBundle::empty_layout.html.twig' : 'CleverAgeEAVManagerAdminBundle:Data:index.html.twig' %}

{% import "@SidusDataGrid/DataGrid/datagrid.html.twig" as DataGridHelper %}

{% block tg_center %}
    {# @var family \Sidus\EAVModelBundle\Model\Family #}
    <h3>{{ tryTrans('eav.family.' ~ family.code ~ '.datagrid.title', [], 'admin.list_of'|trans({'%family%': family.label})) }}</h3>
    <hr>
    {{ DataGridHelper.render(datagrid, {family: family}) }}
{% endblock %}
